<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Palestine</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/Styles/public.css">
</head>
<body>
    <%- include('./partials/flash')%>
    <main>
        <div class="container">
            <%- body %>
        </div>
    </main>
    <%- include('./partials/footer')%>

    <!-- Javascript -->
    <script type="text/javascript" src="/JS/public.js"></script>

</body>
</html>