.newJourneyForm {
    display: flex;
    box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 48px;
}

.newRight {
    background-color: white;
}

.newLeft {
    background-color: #EE2553;
}