.newJourneyForm {
    display: flex;
    box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 48px;
    margin: 50px;
    margin-bottom: 50px;
}

/*! Right Side */

.newRight {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 30px;
}

.newHeader {
    margin-bottom: 30px;
}

.newName {
    width: 60%;
}

.newPrice {
    width: 30%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.form-input {
    background-color: #f1f7fe;
    outline: none;
    height: 15px;
    width: 100%;
    border: 1px solid gray;
    padding: 10px 0;
    background-color: white;
    font-size: 20px;
    transition: border-color 200ms ease;
}

.form-placeholder {
    position: absolute;
    font-size: 20px;
    padding: 0 7px;
    margin-right: 5px;
    background-color: white;
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.namePlaceholder {
    margin-top: 7px;
}

.priceFormInput {
    border-left: 0;
}
  
.form-placeholder:focus {
    border-color: #EE2553;
}

.shekelSign {
    border: 1px solid #EE2553;
    padding: 7.7px 10px;
    background-color: #EE2553;
    color: #ffffff;;
}

.newDescriptionDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.newDescription {
    width: 80%;
    box-sizing: padding-box;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
}

.newDescription:focus {
    outline: none;
}

/*! Left Side */

.newLeft {
    width: 50%;
    background-color: #EE2553;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 30px;
}

.routesNumber {
    display: flex;
    align-items: center;
}

.routesInputs {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.routesInput {
    display: flex;
    margin: 10px 0;
}

.custom-select {
    margin: 0 10px;
}

.icon {
    display: flex;
    align-items: center;
    color: white;
}

.routeText {
    margin-right: 8px;
}

.city {
    flex: 3;
    margin: 0 10px;
}

.location {
    flex: 3;
}

.location input {
    padding-right: 5px;
}

.routeInput {
    background-color: #f1f7fe;
    outline: none;
    height: 15px;
    width: 100%;
    border: 1px solid gray;
    padding: 10px 0;
    background-color: white;
    font-size: 20px;
    transition: border-color 200ms ease;
}

.newButtonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.newButton {
    font-size: 16px;
    font-weight: 600;
    background: #ffffff;
    color: #EE2553;
    border-radius: 6px;
    border: 1px solid #ffffff;
    padding: 13px 75px;
    transition: 300ms ease-in-out;
}

.newButton:hover {
    background-color: #EE2553;
    color: #ffffff;
}

/*! Media */

@media (max-width: 1000px) {
    .newJourneyForm {
        display: flex;
        flex-direction: column;
    }

    .newRight, .newLeft {
        width: 93%;
    }

    .newPrice {
        width: 40%;
    } 
}

@media (max-width: 650px) {
    .deskIcon {
        display: none !important;
    }
    .mobileIconText {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 651px) {
    .mobileIcon, .mobileIconText  {
        display: none !important;
    }
}

/*! DropDown */

.Dropdown {
    width: 100%;
    height: 37px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='16' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-y: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-left: 2rem;
    padding-right: 5px;
    background-color: white;
    font-size: 15px;
  }

  .Dropdown option {
    margin-right: 5px;
  }
  
  /* width */
  .Dropdown::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .Dropdown::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .Dropdown::-webkit-scrollbar-thumb {
    background-color: rgb(238, 37, 83, .7);
  }
  
  /* Handle on hover */
  .Dropdown::-webkit-scrollbar-thumb:hover {
    background: #EE2553; 
  }