<% layout('/layouts/noBootstrap') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/Styles/form.css">

<section>
  <form action="/user/login" method="post" class="form-container">
      <h1 class="form-header">تسجيل الدخول</h1>

      <label for="" class="form-label">
         <input dir="rtl" type="email" placeholder="" class="form-input">
         <p class="form-placeholder">البريد الالكتروني</p>
      </label>
      <label for="" class="form-label">
         <input dir="rtl" type="text" placeholder="" class="form-input" id="password">
         <p class="form-placeholder">كلمة السر</p>
      </label>

      <button type="submit" class="form-botton">تسجيل الدخول</button>
 </form>
</section>

<script type="text/javascript" src="/JS/form.js"></script>