<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/loginForm/loginForm.css">

<section class="form-section">
    <form action="/user/login" method="post" class="form-container">
       <h1 class="form-header">تسجيل الدخول</h1>

       <label for="" class="form-label">
          <input type="text" placeholder="" class="form-input" name="email" autofocus>
          <p class="form-placeholder">البريد الالكتروني</p>
       </label>
       <label for="" class="form-label">
          <input type="text" placeholder="" class="form-input" id="password" name="password">
          <p class="form-placeholder">كلمة السر</p>
       </label>

       <button type="submit" class="form-botton">تسجيل الدخول</button>
    </form>
 </section>

 <script type="text/javascript" src="/loginForm/loginForm.js"></script>