<% layout('/layouts/boilerplate') %> 
<link rel="stylesheet" type="text/css" href="/Styles/registerForm.css">

<section class="formRegister">
    <form action="/user/register" method="post" class="form-container">
       <h1 class="form-header">انشاء حساب</h1>

       <label for="" class="form-label">
          <input type="email" placeholder="" class="form-input" name="user[name]">
          <p class="form-placeholder">اسم المستخدم</p>
       </label>
       <label for="" class="form-label">
          <input type="email" placeholder="" class="form-input" name="user[email]">
          <p class="form-placeholder">البريد الالكتروني</p>
       </label>
       <label for="" class="form-label">
          <input type="email" placeholder="" class="form-input" name="user[phone]">
          <p class="form-placeholder">رقم الهاتف</p>
       </label>
       <div class="passwordDiv">
          <label for="" class="form-label passwordLabel">
             <input type="text" placeholder="" class="form-input" id="password" name="password">
             <p class="form-placeholder">كلمة السر</p>
          </label>
          <label for="" class="form-label passwordLabel">
             <input type="text" placeholder="" class="form-input" id="passwordRepeat">
             <p class="form-placeholder" id="passwordRepeatPlaceholder">اعادة ادخال كلمة السر</p>
          </label>
       </div>
       

       <button type="submit" class="form-botton">تسجيل الدخول</button>
    </form>
 </section>

 <script type="text/javascript" src="/JS/registerForm.js"></script>

<!-- <form action="/user/register" method="post">
    <input type="text" placeholder="Name" name="user[name]">
    <input type="text" placeholder="Email" name="user[email]">
    <input type="text" placeholder="Phone Number" name="user[phone]">
    <select name="user[authorization]">
        <option value="normal">normal</option>
        <option value="coordinator">coordinator</option>
        <option value="admin">admin</option>
    </select>
    <input type="text" placeholder="Password" name="password">
    <button>Submit</button>
</form> -->