.editJourneyForm {
    display: flex;
    box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 48px;
    margin: 50px;
    margin-bottom: 50px;
}

.form-input {
    background-color: #f1f7fe;
    outline: none;
    height: 15px;
    width: 100%;
    border: 1px solid gray;
    padding: 10px 0;
    background-color: white;
    font-size: 20px;
    transition: border-color 200ms ease;
}

.form-placeholder {
    position: absolute;
    font-size: 20px;
    padding: 0 7px;
    margin-right: 5px;
    background-color: white;
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.form-input:focus {
    border-color: #EE2553;
}

/*! Right Side */

.editRight {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 30px;
}

/* Header */

.editHeader {
    margin-bottom: 30px;
}

/* Name */

.editName {
    width: 60%;
}

.namePlaceholder {
    margin-top: 7px;
}

/* Price */

.editPrice {
    width: 30%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.priceFormInput {
    border-left: 0;
}

.shekelSign {
    border: 1px solid #EE2553;
    padding: 7.7px 10px;
    background-color: #EE2553;
    color: #ffffff;;
}

/* Description */

.editDescriptionDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.editDescription {
    width: 80%;
    box-sizing: padding-box;
    /* overflow: hidden; */
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
}

.editDescription:focus {
}

/*! Left Side */

.editLeft {
    width: 50%;
    background-color: #EE2553;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 30px;
}

/* Number of routes */

.routesNumber {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.routesNumberTest {
    color: white;
}

#routesSelect {
    width: 35px;
    margin-right: 10px;
}

/* Route Input */

.routeInput {
    display: flex;
    width: 100%;
}

/* Route name */

.routeName {
    width: 20%;
    margin-top: 10px;
    color: white;
}

/* City */

.city {
    width: 40%;
}

/* Location */

.location {
    width: 40%;
}

.location input {
    padding-right: 5px;
}

/* Button */

.editButtonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.editButton {
    font-size: 16px;
    font-weight: 600;
    background: #ffffff;
    color: #EE2553;
    border-radius: 6px;
    border: 1px solid #ffffff;
    padding: 13px 75px;
    transition: 300ms ease-in-out;
}

.editButton:hover {
    background-color: #EE2553;
    color: #ffffff;
}

/*! Media */

@media (max-width: 1000px) {
    .editJourneyForm {
        display: flex;
        flex-direction: column;
    }

    .editRight, .editLeft {
        width: 93%;
    }

    .editPrice {
        width: 40%;
    } 
}

@media (max-width: 450px) {
    .editLeft, .editRight {
        padding: 30px 15px;
    }

    .routeName {
        display: none !important;
    }

    .editButton {
        padding: 10px 30px;
    }
}

@media (max-width: 370px) {
    .editPrice {
        width: 60%;
    }
}

/*! DropDown */

.Dropdown {
    height: 37px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='16' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-y: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-left: 2rem;
    padding-right: 5px;
    background-color: white;
    font-size: 15px;
  }

  .Dropdown option {
    margin-right: 5px;
  }
  
  /* width */
  .Dropdown::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .Dropdown::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .Dropdown::-webkit-scrollbar-thumb {
    background-color: rgb(238, 37, 83, .7);
  }
  
  /* Handle on hover */
  .Dropdown::-webkit-scrollbar-thumb:hover {
    background: #EE2553; 
  }

/*! Images */

/* New images */

.newImages {
    padding: 30px 0;
}

.imageButton {
    position: absolute;
    transform: translateY(-3px);
    font-size: 17px;
    font-weight: 600;
    background: #EE2553;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #EE2553;
    padding: 5px 35px;
    transition: 200ms ease-in-out;
}

.imageButton:hover {
    color: #EE2553;
    background-color: white;
}

#fileupload {
    margin-bottom: 10px;
}

/* Old images */

.oldImages {
    display: flex;
}

.oldImageDiv {
    position: relative;
    width: 30%;
    margin: 20px;
}

.oldImageTrash {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EE2553;
    font-size: 50px;
}

.oldimage {
    width: 100%;
    object-fit: cover;
    transition: 200ms ease-in-out;
}

.deleteImage {
    opacity: 40%;
}

.oldImageCheck {
    visibility: hidden;
}