<section class="flash">
    <% if(error && error.length > 0){ %>
        <div class="error">
            <%= error %>
        </div>
    <% } %>
    <!-- if there is a success flash message -->
    <% if(success && success.length > 0){ %>
        <div class="success">
            <%= success %>
        </div>
    <% } %>
</section>