<footer>
    <div class="footerRight">
        <h1 class="footerName">Trip Palestine</h1>
        <div class="footerEst">تأسست 2022</div>
    </div>
    <div class="center"></div>
    <div class="footerLeft">
        <a href="" class="footerAbout"><h1>من نحن</h1></a>
    </div>
</footer>