<link rel="stylesheet" href="/Styles/navbar.css">

<nav id="navbar">

    <div class="nav-left">
        <!-- User -->
        <a href="/user/profile" class="nav-user"><i class="fa-solid fa-user"></i></a>
        <a href="/admin/becoordinator" class="host">أصبح مضيفا</a>
    </div>

    <!-- Desktop Search -->
    <div class="nav-search">
        <form action="/search" method="GET" class="form-label">
            <button type="submit" class="form-botton">بحث</button>
            <input dir="rtl" type="text" placeholder="ابحث هنا" class="form-input">
        </form>
    </div>

    <!--! Mobile -->

    <!-- Mobile Search -->
    <div class="mobileNavSearch">
        <a class="mobileSearchButton"><i class="fa-solid fa-magnifying-glass"></i></a>

        <form action="/search" method="GET" class="mobileSearchForm">
            <input dir="rtl" type="text" placeholder="ابحث هنا" class="mobileNavInput">
            <a class="hideMobileForm"><i class="fa-solid fa-x"></i></a>
        </form>
    </div>
    
    <div class="mobileNavHeader"><a href="/">Trip Palestine</a></div>
    

    <div class="nav-right">
        <a class="nav-header" href="/">Trip Palestine</a>
        <a class="openNav"><i class="fa-solid fa-bars"></i></a>
        <a class="closeNav"><i class="fa-solid fa-bars"></i></a>
    </div>
</nav>

<!--! SideNav -->
<nav class="sideNav">
    <div class="innerSideNav">
        <!-- Mobile -->
        <a href="/user/profile" class="sideNavElement mobileSide">الحساب الشخصي</a>
        <a href="/admin/becoordinator" class="sideNavElement mobileSide">أصبح مضيفا</a>
        <!-- Both -->
        <a class="sideNavElement">صفحة 1</a>
        <a class="sideNavElement">صفحة 2</a>
        <a class="sideNavElement">صفحة 3</a>
        <a class="sideNavElement">صفحة 4</a>
    </div>
</nav>

<script type="text/javascript" src="JS/navbar.js"></script>