<link rel="stylesheet" href="/Styles/navbar.css">

<nav id="navbar">
    <div class="nav-left">

        <!--! Side Bar -->
        <div class="nav-sideload">
            <h1>a7a</h1>
        </div>
        <a class="bar"><i class="fa-solid fa-bars"></i></a>

        <!-- Header -->
        <a class="nav-header" href="/">Trip Palestine</a>
    </div>

    <!--! Mobile -->
    <a class="mobileNav-header" href="/">Trip Palestine</a>
    <div class="mobileNavSearch">
        <!-- Show search input button -->
        <div href="" class="mobileNav-search"><i class="fa-solid fa-magnifying-glass"></i></div>
        <form action="/search" method="GET" class="mobileNav-label">
            <!-- Search input -->
            <input dir="rtl" type="text" placeholder="ابحث هنا" class="mobileNav-input">
            <!-- Hide search input button -->
            <div class="removeInput"><i class="fa-solid fa-x"></i></div>
        </form>
    </div>

    <!-- Desctop Search -->
    <div class="nav-search">
        <form action="/search" method="GET" class="form-label">
            <button type="submit" class="form-botton">بحث</button>
            <input dir="rtl" type="text" placeholder="ابحث هنا" class="form-input">
        </form>
    </div>

    <div class="nav-right">
        <a href="/admin/becoordinator" class="host">أصبح مضيفا</a>
        <!-- User -->
        <% if(currentUser) { %>
            <a href="/user/profile" class="nav-user"><i class="fa-solid fa-user"></i></a>
        <!-- If your not logged in -->
        <% } else { %>
            <a href="/user/login" class="nav-user"><i class="fa-solid fa-user"></i></a>
        <% } %>
    </div>
</nav>

<script type="text/javascript" src="JS/navbar.js"></script>