<link rel="stylesheet" href="/Navbar/navbar.css">

<nav id="navbar" aria-label="navbar">

    <div class="nav-right">
        <a class="openNav"><i class="fa-solid fa-bars"></i></a>
        <a class="closeNav"><i class="fa-solid fa-bars"></i></a>
        <a class="nav-header" href="/">Trip Palestine</a>
    </div>

    <!-- Desktop Search -->
    <div class="nav-search">
        <form action="/search" method="GET" class="navFormLabel">
            <input dir="rtl" type="text" placeholder="مثال: القدس" class="navFormInput" name="search" required oninvalid="this.setCustomValidity('يرجى ملء هذا الحقل اولا')">
            <button type="submit" class="navFormBotton"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <!--! Mobile -->

    <!-- Mobile Search -->
    <div class="mobileNavHeader"><a href="/">Trip Palestine</a></div>
    <div class="mobileNavSearch">
        <a class="mobileSearchButton"><i class="fa-solid fa-magnifying-glass"></i></a>

        <form action="/search" method="GET" class="mobileSearchForm">
            <a class="hideMobileForm"><i class="fa-solid fa-x"></i></a>
            <input dir="rtl" type="text" placeholder="مثال: القدس" class="mobileNavInput" name="search" required required oninvalid="this.setCustomValidity('يرجى ملء هذا الحقل اولا')">
        </form>
    </div>
    
    
    
    <div class="nav-left">
        <!-- User -->
        <div class="navUser">

            <% if(currentUser && currentUser.authorization == 'normal' || !currentUser) { %> 
                <a href="/admin/becoordinator" class="host">أصبح مضيفا</a>
            <% } else { %>
                <a href="/admin/becoordinator" class="host" style="visibility: hidden;">أصبح مضيفا</a>
            <% } %> 
            
            <div class="navUserDropdown">
                <% if(currentUser) { %>
                    <div class="dropdownElement"><a class="dropdownLink" href="/user/<%= currentUser._id %>"><%= currentUser.name %></a></div>
                    <div class="dropdownElement"><a class="dropdownLink" href="/user/logout">تسجيل الخروج</a></div>
                <% } else { %>
                    <div class="dropdownElement"><a class="dropdownLink" href="/user/login">تسجيل الدخول</a></div>
                    <div class="dropdownElement"><a class="dropdownLink" href="/user/register">انشاء حساب</a></div>
                <% } %>
            </div>
            <button class="navUserIcon"><i class="fa-solid fa-user"></i></button>
        </div>
    </div>
    
</nav>

<!--! SideNav -->
<nav class="sideNav" aria-label="sideNav">
    <div class="innerSideNav">
        <!-- Mobile -->
        <% if(currentUser) { %>
            <a href="/user/<%= currentUser._id %>" class="sideNavElement mobileSide"><%= currentUser.name %></a>
        <% } else { %>
            <a href="/user/login" class="sideNavElement mobileSide">تسجيل الدخول</a>
            <a href="/user/register" class="sideNavElement mobileSide">انشاء حساب</a>
        <% } %>

        <% if(currentUser && currentUser.authorization == 'admin') { %> 
            <a class="sideNavElement" href="/admin/approveregistration">الموافقة على طلبات التسجيل بالرحل</a>
            <a class="sideNavElement" href="/admin/approvecoordinator">الموافقة على المستضيفين</a>
        <% } %>

        <% if(currentUser && currentUser.authorization != 'normal') { %> 
            <a class="sideNavElement" href="/journey/New">انشاء رحلة جديدة</a>
        <% } %>

        <a href="/admin/becoordinator" class="sideNavElement mobileSide">أصبح مضيفا</a>
        <!-- Both -->
        <a href="/journey/" class="sideNavElement">تصفح الرحل</a>
        <a href="https://www.tripadvisor.com/Tourism-g660378-Palestinian_Territories-Vacations.html" class="sideNavElement">TripAdviser</a>
        <!-- Mobile -->
        <% if(currentUser) { %>
            <a href="/user/logout" class="sideNavElement mobileSide">تسجيل الخروج</a>
        <% } %>
    </div>
</nav>

<script type="text/javascript" src="/Navbar/navbar.js"></script>