body {
    font-family: 'Bigelow Rules', cursive;
    font-family: 'Slabo 27px', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    padding-top: 70px;
    padding-bottom: 50px;
}

/*! footer */

footer {
    margin-top: auto;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #EE2553;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/*! flash */

.flash {
    display: flex;
    justify-content: center;
}

.error, .success {
    color: black;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 80px;
}

.error {
    background-color: #f8d7da;
}

.success {
    background-color: #d4edda;
}

@media (max-width: 650px) {
    .error, .success {
        margin: 10px 50px;
    }
}

/*! error */

.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #f8d7da;
}